<head>
    <title>ZERO HUNGER</title>
    <link href="~/Content/H4StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<div></div>
<div></div>
<body>
    <div class="container1">
        <p>
            My system will help the NGO to reach out to volunters as their current system does not cater for voluntering registration.
        <p>
        <p>this will help them achieve No porverty and No hunger SDG as they will have more labour resources to help them </p>
        <p>
            with planting veges and offering gardining training in communities. they will also be able to be able to keep track of their donor.
        </p>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="bg-secondary text-white">
                        <div class="row">
                            <div class="col">
                                <i class="	fas fa-address-card fa-6x"></i>
                            </div>
                            <div class="col">
                                <h3 class="display-3">01 </h3>
                                <h6> USER SUBSYSTEM</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                        <h5>
                            <a href="~/Narratives/login.pdf" class="text-primary">View Narrative <i class='far fa-arrow-alt-circle-right'></i></a>
                        </h5>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="bg-secondary text-white">
                        <div class="row">
                            <div class="col">
                                <i class="		fas fa-hand-holding-heart fa-6x"></i>
                            </div>
                            <div class="col">
                                <h3 class="display-3">02</h3>
                                <h6> DONATION SUBSYSTEM</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">

                        <h5>

                            <a href="~/Narratives/create donation.pdf" class="text-primary">View Narrative <i class='far fa-arrow-alt-circle-right'></i></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="bg-secondary text-white">
                        <div class="row">
                            <div class="col">
                                <i class=" fa fa-shopping-cart fa-6x"></i>
                            </div>
                            <div class="col">
                                <h3 class="display-3">03</h3>
                                <h6> SUPPLIER SUBSYSTEM</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">

                        <h5>

                            <A href="~/Narratives/place supplier order.pdf" class="text-primary">View Narrative<i class='far fa-arrow-alt-circle-right'></i></A>
                        </h5>
                    </div>

                </div>
            </div>


            <div class="col-md-3">
                <div class="card text-center">
                    <div class="bg-secondary text-white">
                        <div class="row">
                            <div class="col">
                                <i class="fas fa-newspaper fa-6x"></i>
                            </div>
                            <div class="col">
                                <h3 class="display-3">04</h3>
                                <h6> NEWSFEED SUSBSYSTEM</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">

                        <h5>

                            <a href="~/Narratives/newsdeed.pdf" class="text-primary">View Narrative <i class='far fa-arrow-alt-circle-right'></i></a>
                        </h5>
                    </div>
                </div>
            </div>
            <br /><br />

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="bg-secondary text-white">
                        <div class="row">
                            <div class="col">
                                <i class="		fas fa-hands-helping fa-6x"></i>
                            </div>
                            <div class="col">
                                <h3 class="display-3">#</h3>
                                <h6> FEEDACHILD CLASS DIAGRAM</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">

                        <h5>

                            <a href="~/Narratives/class.pdf" class="text-primary">View diagram <i class='far fa-arrow-alt-circle-right'></i></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <style>

        .navbar-toggler-centered {
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button button2 {
            float: right;
        }



        body, html {
            height: 70%;
            margin: 0;
        }

        .container {
            /* The image used */
            background-image: url('../../images/logo.png');
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container1 {
            background-color: aquamarine;
            color: black;
        }
    </style>

</body>
